<form class="load_configuration" action="/" method="get">
  <ul>
    <li>
      <span>
      <label for "configuration_select">Load Config:
      </span>
      <span>
        <select name="configuration_id" id="configuration_select">
          <option value=""></option>
          <% @configurations.each do |configuration| %>
            <option value=<%= configuration.id %> <%= "selected" if configuration == @configuration %>><%= configuration.name %></option>
          <% end %>
        </select>
        <input type="submit" value="load config">
      </span>
    </li>
  </ul>
</form>

