<!DOCTYPE html>
<html>
  <head>
    <title>Pokie</title>
    <link href="css/app.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h2>Pokie, the little API tester</h2>
    </header>
    <div class="content">
      <%=yield %>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
