body {
  margin: 0;
  padding: 0;
}

header, .content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5 {
  margin: 5px;
  padding: 05px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  padding: 5px;
}

ul li.error {
  color: #D8000C;
  background-color: #FFBABA;
}

ul li .actions {
  display: table;
}

ul li .actions .button_row {
  display: table-row;
}

ul li .actions .button_row .button {
  display: table-cell;
  width: 100%;
}

label {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.column.left {
  width: 50%;
}

.column.right {
  width: 49%;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.load_configuration select {
  width: 45%;
}

.form textarea, input[type='text'] {
  width: 60%;
}

.form textarea {
  font-size: 85%;
}

.form .inline {
  display: inline-block;
}

.form .actions {
  width: 61%;
}


.response pre {
  padding: 5px;
  border: 1px solid grey;
}
