body {
  margin: 0;
  padding: 0;
  width: 1000px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  padding: 5px;
}

label {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

header, .content {
  width: 80%;
  margin: 0 20%;
}

.column {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.load_configuration select {
  width: 44%;
}

.form input[type='text'] {
  width: 240px;
}

.form textarea {
  width: 240px;
  height: 100px;
  resize: none;
}

.response pre {
  padding: 5px;
  border: 1px solid grey;
}
